	1) kratisi vivliou
		*onoma pelati
		*kwdikos vivliou
		*imerominia kratisis
		*imeres kratisis

	2) epistrofi vivliwn
		*onoma pelati
		*kwdikos vivliou
		*imerominia epistrofis
		*xrewsi se periptwsi kathisterisis
	
	3) anazitisi sti vasi dedomenwn ta yparxonta vivlia
		*anazitisi vivliwn sti vasi
	
	4) prosthiki vivliou sti vasi dedomenwn

	5) diagrafi vivliou apo ti vasi dedomenwn

	6) anazitisi sti vasi dedomenwn tous pelates
		*onoma pelati
		*epikoinwnia

	7) prosthiki pelati sti  vasi dedomenwn

	8) diagrafi pelati apo ti vasi dedomenwn

	9) epeksergasia stoixeia pelati

	10) emfanisi prosopikou
		*wrario prosopikou

	11) paraggelia newn vivliwn
		*promitheutes
		*posotita paraggelias
		*kwdikoi vivliwn

	12) emfanisi kalathiou danismwn twn pelatwn
		*onoma pelati
		*kwdikoi vivliwn
		*posotita paraggelias

	13) simplirosi formas epikoinwnias me to ypolipo diktio vivliothikwn (sinergates)

	14) pro-kratisi vivliou apo ton pelati

	15) epeksergasia proswpikou

	16) emfanisi report me olous tous katwxiromenous pelates

	17) emfanisi diathesimwn (mi-kratimenwn) vivliwn

	18) emfanisi mi diathesimwn (kratimenwn) vivliwn

	19) epeksergasia stoixeiwn pelatwn

	20) emfanisi vivliwn se delay